---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css'
const pageTitle = "Blog Page";
const allPosts = await Astro.glob('./posts/*.md');
---
<body class="max-w-[900px] mx-auto font-mono bg-[#1d2021] text-[#ffffff] text-sm sm:text-base">
<BaseLayout class="min-h-screen bg-black text-white flex flex-col justify-center items-center p-4" pageTitle={pageTitle}>
	<main>
		<div class="flex flex-col gap-5">
			<br>
			<ul>
				{allPosts.map((post) => <li><a target="_blank" class="text-[#f67f97] hover:underline font-bold" href={post.url}>{post.frontmatter.title}</a></li>)}
			</ul>
		</div>
	</main>
</BaseLayout>
</body>