---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<!-- Google tag (gtag.js) -->
<!-- Google tag (gtag.js) -->
<script  type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-NHJ16185Y2"></script>
<script  type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NHJ16185Y2');
</script>
<html class="bg-gray-500" lang="en" >
  <head >
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title class="text-3xl font-bold mt-10 text-[#b8bb26]">{pageTitle}</title>
  </head>
  <script async src={`https://www.googletagmanager.com/gtag/js?id=YOUR_MEASUREMENT_ID`}></script>
  <body >
    <Header />
    <br />
    <h1 class="text-3xl font-bold mt-10 text-[#da2d2d]">{pageTitle}</h1>
    <slot />
    <Footer />
  </body>
</html>